<div class="bg-slate-700 text-white text-left p-10 shadow-xl">
  <h1 class="text-2xl font-bold">¡Hola! Bienvenidos a mi portafolio</h1>

  <!-- Redes Sociales y Contacto (Alineadas a la derecha) -->
  <div class="absolute top-9 right-6 flex space-x-4">
    <!-- Correo -->
    <button (click)="openContactForm()">
    <img src="/assets/email-icon.png" alt="Email" class="w-10 h-10 mr-2">
    </button>

    <!-- LinkedIn -->
    <a href="https://linkedin.com/in/kevin-dylan-araya-gonzález-7487b1337/" target="_blank">
      <img src="/assets/linkedin-icon.png" alt="LinkedIn" class="w-10 h-10 mr-2">
    </a>

    <!-- GitHub -->
    <a href="https://github.com/kzeta11" target="_blank" >
      <img src="/assets/github-icon.png" alt="GitHub" class="w-10 h-10 mr-2">
    </a>
  </div>

</div>

<app-forms
  [isOpen]="isContactFormOpen"
  (formClosed)="onFormClosed()"
></app-forms>
