<div class="text-black text-center p-4 mt-4 mb-4">
  <h2 class="text-3xl font-extrabold text-blue-700 mb-4">Proyectos</h2>
  <p class="text-lg font-light text-gray-700 leading-relaxed text-justify">
    A lo largo de mi carrera como desarrollador de software, he tenido la oportunidad de trabajar en diversos proyectos que me han permitido adquirir experiencia en diferentes áreas del desarrollo de aplicaciones web y móviles. A continuación, se presentan algunos de los proyectos en los que he participado:
  </p>
  <p class="text-lg font-light text-gray-700 leading-relaxed text-justify">
    <strong>Nota:</strong> Haz clic en cada proyecto para obtener más información.
  </p>
</div>

<!-- Añadimos espacio adicional -->
<div class="scroll-mt-0"></div>
