<div class="proyectos-container">
  <h2 class="text-3xl text-center font-extrabold text-blue-700 mb-4">Proyectos</h2>

  <div class="proyecto flex flex-wrap items-start gap-4 mb-8">
    <div class="imagen-container">
      <img src="/assets/VideoHorrorScreampng.png" alt="Video Horror Scream" class="imagen-proyecto" />
    </div>
    <div class="contenido-proyecto text-gray-700 text-lg font-light leading-relaxed text-justify">
      <h3 class="text-xl font-bold">Video Horror Scream</h3>
      <div class="herramientas-logo flex space-x-2 mt-2">
        <img src="/assets/Unity.png" alt="Unity Logo" class="logo-herramienta" />
        <img src="/assets/C Sharp Logo 2.png" alt="C# Logo" class="logo-herramienta" />
      </div>
      <p class="mt-2">
        Este proyecto consiste en un videojuego de terror psicológico que combina elementos de suspenso y exploración. Fue desarrollado utilizando Unity como motor de juego y programado completamente en C#. El juego desafía a los jugadores a resolver acertijos mientras enfrentan un ambiente hostil lleno de sonidos inquietantes y apariciones inesperadas.
      </p>
    </div>
    <a href="https://drive.google.com/file/d/1lCKQijf6Bn3kuoYShqb15pYiXOTMpCzl/view" class="bg-purple-500 text-white py-2 px-4 z-30 rounded-full flex items-center shadow-md hover:bg-purple-600 mt-4 text-sm">
      <img src="/assets/Download.png" alt="GitHub" class="w-4 h-4 mr-2"> Descargar
    </a>
  </div>

  <div class="proyecto flex flex-wrap items-start gap-4 mb-8">
    <div class="imagen-container">
      <img src="/assets/HonorSamuraiLegacy.png" alt="Honor Samurai Legacy" class="imagen-proyecto" />
    </div>
    <div class="contenido-proyecto text-gray-700 text-lg font-light leading-relaxed text-justify">
      <h3 class="text-xl font-bold">Honor Samurai Legacy</h3>
      <div class="herramientas-logo flex space-x-2 mt-2">
        <img src="/assets/Unity.png" alt="Unity Logo" class="logo-herramienta" />
        <img src="/assets/C Sharp Logo 2.png" alt="C# Logo" class="logo-herramienta" />
      </div>
      <p class="mt-2">
        "Honor Samurai Legacy" es un videojuego móvil de acción y aventura ambientado en el Japón feudal. El jugador asume el rol de un samurái en busca de redención y venganza, enfrentándose a enemigos poderosos y explorando paisajes detallados. Fue creado en Unity y utiliza C# para el desarrollo de todas las mecánicas del juego.
      </p>
    </div>
    <a href="https://drive.google.com/file/d/1KBXheBjXRLroSuWCRBSDlGEFSlgpPJ84/view" class="bg-purple-500 text-white py-2 px-4 z-30 rounded-full flex items-center shadow-md hover:bg-purple-600 mt-4 text-sm">
      <img src="/assets/Download.png" alt="GitHub" class="w-4 h-4 mr-2"> Descargar
    </a>
  </div>

</div>

<!-- Espacio adicional -->
<div class="scroll-mt-0"></div>
