<div class="flex flex-col items-center mt-2">
  <!-- Imagen y Nombre -->
  <img src="/assets/Perfil.png" class="h-25 w-25 rounded-full" alt="Perfil">
  <h2 class="text-2xl font-bold mt-4">Kevin Araya</h2>

  <!-- Descripción -->
  <div class="bg-blue-200 text-blue-800 p-7 mt-6 rounded-lg shadow-lg w-3/6 text-center">
    <p>
      Estudiante de <span class="font-bold">Ingeniería Civil en Computación e Informática</span> en la
      <span class="font-bold">Universidad Católica del Norte</span>. Apasionado por este mundo con experiencia en diferentes lenguajes de programación,
      <span class="font-bold">¡con ganas de aprender mucho más!</span>
    </p>
  </div>

  <!-- Enlaces -->
  <div class="flex space-x-4 mt-6">
    <!-- Contacto -->
    <button (click)="openContactForm()"
      class="bg-purple-500 text-white py-2 px-4 rounded-full flex items-center shadow-lg hover:bg-purple-600">
      <img src="/assets/email-icon.png" alt="Email" class="w-4 h-4 mr-2"> Contáctame
    </button>
    <!-- LinkedIn -->
    <a href="https://linkedin.com/in/kevin-dylan-araya-gonzález-7487b1337/" target="_blank" class="bg-purple-500 text-white py-2 px-4 rounded-full flex items-center shadow-lg hover:bg-purple-600">
      <img src="/assets/linkedin-icon.png" alt="LinkedIn" class="w-4 h-4 mr-2"> LinkedIn
    </a>
    <!-- GitHub -->
    <a href="https://github.com/kzeta11" target="_blank" class="bg-purple-500 text-white py-2 px-4 rounded-full flex items-center shadow-lg hover:bg-purple-600">
      <img src="/assets/github-icon.png" alt="GitHub" class="w-4 h-4 mr-2"> GitHub
    </a>
  </div>
</div>

<!-- Formulario de contacto -->
<app-forms
  [isOpen]="isContactFormOpen"
  (formClosed)="onFormClosed()"
></app-forms>
